<div class="text_container">
    <div id="title">YOUR NOT DONE YET .... KEEP ER GOIN!</div>

    <div class="fight">
      <%= image_tag("fight_3.jpg", :class=> "first_img") %>
      </div>
      
    <p id="host">
      ALRIGHT NEXT STEP... PICK ONE AND THEN U GET THE FIGHT YOU HAVE BEEN WAITING FOR!
    </p>

        <div id="fight_links">
          <div class="fight">
            <%= link_to image_tag("fight_7.jpg", :class=> "first_img radius_img"),"/guess_results5" %>
            </div>
          <div class="fight">
            <%= link_to image_tag("fight_8.webp", :class=> "first_img radius_img"),"/guess_results6" %>
          </div>
          <div class="fight">
            <%= link_to image_tag("fight_9.webp", :class=> "first_img radius_img"),"/guess_results7" %>
            </div>
          </div>
    <%= link_to "You Don't Like It?... ok Give It Another Try","guess" %>
  </div>
